<!DOCTYPE html>
<html lang="en">
<head>
  <title>CRUD API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/handle.js"></script>
</head>
<body> 
<div class="container"> 
<div class="col-sm-4">
	<h3>CRUD operations</h3>
	<div>		
		<form id="Form">
		  <div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" id="name" placeholder="Enter Name"/>
		  </div>
		  <div class="form-group">
			<label for="job profile">Job profile:</label>
			<input type="text" class="form-control" id="type" placeholder="Enter Job type"/>
		  </div>
		  <div class="form-group">
			<label for="desk no">desk no:</label>
			<input type="text" class="form-control" id="no" placeholder="Enter Desk no"/>
		  </div>
		  <button type="submit" class="btn btn-default">Insert</button>
		</form>
	</div>
	<br>
</div>	
</div>
</body>
</html>